.dialogsItems {
    grid-area: u;
}

.item a{
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  color: #370447;
  margin-left: 45px;
  text-decoration: none;
}

.item:hover a{
  text-decoration: underline;
  color: #f2ffdb;
  transition: 0.5s linear;
}

.item a.active{
  color: #f2ffdb;
}