.info {
    display: grid;
    grid-template-areas:
    "i b";
    grid-template-columns: 4fr 6fr;
    padding: 28px;
}


.info img {
    grid-area: i;
    width: 250px;
}

.item {
    grid-area: b;
    display: block;
    color: #f2ffdb;
}