.info {
    display: flex;
    padding: 28px;
}


.info img {
    width: 250px;
}

.item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    /*display: block;*/
    color: #f2ffdb;
}
