.header{
  grid-area: h;
  background: #545257;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header img{
  width: 100px;
}

.logo{
  margin-left: 10px;
  justify-self: flex-start;
}

.logo2{
  width: 80px;
}
.theme{
  display: flex;
  align-items: center;
}
.theme img{
  width: 25px;
  height: 25px;
}