@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*{
  margin: 0;
/*  padding: 0;*/
}

body{
  background-color: #f2ffdb;
}

.app-wrapper{
  display: grid;
  grid-template-areas:
  "h h "
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  margin: 0 auto;
  width: 1200px;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #545257;
}
