.nav {
    grid-area: n;
    background: #545257;
    padding-top: 28px;
}

.nav :nth-child(7) {
    margin-top: 60%;
}

.item a svg {
    width: 18%;
}

.item a img.active {
    fill: #995EB2;
}

.item {
    display: flex;
    align-items: center;
}

.nav__btn{
    display: flex;
    align-items: center;
    padding-left: 15%;
}
.item a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #9D9F9F;

    text-decoration: none;
}

.item:hover a {
    color: #995EB2;
}
.item svg{
    margin-right: 20px;
}
.item svg  path{
    stroke: #9d9f9f
}
.item:hover svg path{stroke: #995EB2; }

.active svg  path{stroke: #995EB2; }

.active {
    background-color: rgba(213, 102, 223, 0.09);
}
.item a.active {
    color: #995EB2;
}

.friendsBar {
    display: flex;
}
.item_settings{
    margin-bottom: 50px;
}
.item_settings:hover svg path{
    fill: #995EB2;
}
.item_settings:hover svg path:nth-child(4){
    fill: transparent;
}
.item_settings>.active  svg path:nth-child(4){
    fill: transparent;
}
.item_settings>.active svg path {
    fill: #995EB2;
}
.friendsBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}